
.contact-hero-content{
    position: relative;
}

.contact-hero-img{
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.contact-hero-inner{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-10%);
}
